name: Build EXE
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18
    
    - name: Install
      run: npm install
    
    - name: Build
      run: |
        npx electron-packager . "ELBEROS" --platform=win32 --arch=x64 --out=dist --overwrite
    
    - name: Package
      run: |
        cd dist/ELBEROS-win32-x64
        7z a -r ../ELBEROS.zip *
    
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: ELBEROS-Windows
        path: dist/ELBEROS.zip
